<div class="row">
  <div class="col-xs-12">
   <ul class="nav nav-pills">
    <li routerLinkActive="active" class="nav-item"> <a [routerLink]="['/weather']" class="nav-link" data-toggle="pill">Weather</a></li>
    <li routerLinkActive="active" class="nav-item"> <a [routerLink]="['/movie']" class="nav-link" data-toggle="pill">Movie Details</a></li>
    <li routerLinkActive="active" class="nav-item"> <a [routerLink]="['/currency']" class="nav-link" data-toggle="pill">Currency Rates</a></li>
   </ul>
 </div>
</div>